
body    {
    padding:0;
    margin:0;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
}
.header  {
    
    background-color: #052d73;
    height:100px;
    
    color:white;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content:center;
    order:1;

    flex-basis:100%;
}
.baner{
  order:2;
  background-color:#d0d0d0;
    text-align:center;
    flex-basis:100%;
}
.what    {
    background-color:#f5f5f5;
    color:#052d73;
    flex-basis:40%;
    height:500px;
    text-align: center;

}
.what > p {
  width:30%;
}

.we   {
    background-color:#f5f5f5;
    color:#052d73;
    flex-basis:40%;
    height:500px;
    text-align:center;
}
.whatwe{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
    margin-top: 2em;
    order:2;
    flex-basis:100%;
}
.sdg {
    height: auto;
    text-align:center;
    padding:15px;

    flex-basis:100%;
    justify-content: center;
    order:3;
    color:#052d73;
}
.sdg > p    {
margin:0;
width:auto;
}


.sdg > a > button {
  margin-top: 2em;
}
.aot   {
    background-color:#f5f5f5;
    color:#052d73;
    flex-basis:40%;
    height:500px;
    text-align: center;

}
.experts    {
    background-color:#f5f5f5;
    color:#052d73;
    flex-basis:40%;
    height:500px;
    text-align:center;

}
.aotexp{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 2em;
    margin-bottom: 2em;
    clear:both;
    order:4;
    flex-basis:100%;
}
.stopka  {
    padding:10px;
    background-color: #052d73;
    height:150px;
    text-align: center;
    color:white;
    clear: both;
    order:5;
    flex-basis:100%;
}
p   {
    margin-left:auto;
    margin-right: auto;
    width: 25em;
    color:#777982;
}

a{
    text-decoration: none;
    color:#052d73;
}
.stopka a {
    color:#c1c1c1;

}

.menu{
    padding: 0px;
    margin:0px;
    position:relative;
  }
  .menu li{
    float:left;
    list-style:none;
  }
  .menu li a{
    padding: 20px 15px;
    display: inline-block;
    text-decoration:none;
    position:relative;
    z-index: 1;
    color: #ff5252;
    text-transform:uppercase;
  }
  .menu li a::before{
    content:" ";
      position: absolute;
      background:#ccc;
      width: 0;
      height: 2px;
      left: 0;
      bottom: 0;
    transition-duration:1s;
  }
  .menu li:hover > a::before{
    width:100%;
  }
  .menu li:hover a{
      background: #333;
      color: #fff;
  }
  .menu li ul{
     margin: 0;
     padding: 0;
     position: absolute;
     z-index: 100;
    display:none;
  }
  .menu li:hover ul{
    display:block;
   right:70%;
  }
  .menu li ul li{
    display:block;
    width: 100%;
  }
  .menu li ul li a{
    width: 100%;
  }
  /* navbar-toggler */
  
  .navbar-toggler {
      display: none;
      cursor: pointer;
      margin-left: 10px;
  }
  
  .navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
  }
  
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
  }
  @media screen and (min-width: 700px) {
    .menu{
      display: block !important;
    }
    
  }
  
  @media screen and (max-width: 700px) {
    .navbar-toggler {
      display: inline-block;
    }
    .menu{
      display: none;
      position:absolute;
      background: rgba(0,0,0,0.8);
      width: 100%;
      text-align: center;
    }
    .menu li{
      float:none;
    }
    .menu li ul {
      position:relative;
    }
  }
  .menu1  {
        text-align: right;
        justify-content: right;
        position:absolute;
        right:10%;
  }

 
  
  .button-67 {
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    color: #2a1f62;
    cursor: pointer;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position:relative;
    text-align: left;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    width: max-content;
    word-break: normal;
    word-spacing: normal;
  }
  
  .button-67:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  }
  
  @media (min-width: 768px) {
    .button-67 {
      padding: 24px;
    }
  }
          
  
  /* Parent background */
  #F5F5FA